@model cd_c_dojoSurveyWVal.Models.Survey

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Your Survey Results</h1>
    <p>Your Name: @Model.name</p>
    <p>Your Location: @Model.location</p>
    <p>Your Favorite Language: @Model.language</p>
    <p>Your Comments: @Model.comments</p>
</body>
</html>